@charset "UTF-8";

body {
    background-color: hsl(36, 80%, 92%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: hsl(34, 17%, 24%);
}

h1#principal {
    text-align: center;
    color: white;
    background-color: hsl(34, 17%, 24%);
    border-radius: 9px;
}

h2 {
    color:hsl(34, 64%, 30%);
}

.basico {
    color: rgb(70, 70, 140);
}

.intermediario{
    color: rgb(70, 140, 70);
}

.avancado{
    color:rgb(140, 70, 70) 
}